[Desktop Entry]
Version=1.0
Name=Zoxel Web
Type=Application
Icon=utilities-terminal
Terminal=true
Exec=bash -ic /home/deus/projects/zoxel-web/bash/run_latest.sh